/* GENERAL CARD STYLE */
.card {
    font-family: "Helvetica LT Std", Helvetica, Arial, Sans;
    font-size: 150%;
    text-align: center;
    color: black;
    background-color: white;
  }
  
  :root {
      --s: 10px;
    --card-max-width: 80em;
    --card-text-align: left;
    --font-size-regular: 16px;
    --font-size-small: 14px;
    --font-family: "Rubik", -apple-system, sytem-ui, BlinkMacSystemFont, Segoe UI,
      Roboto, Helvetica, Arial, sans-serif;
    --img-width: 50%;
    --img-brightness: 0.7;
    --img-filter: brightness(100%) opacity(85%);
  
      --max-width: 85%;
      --max-width-typeans: 450px;
  
      --opacity: 50%;
  }
  
  .card.night_mode {
    /* Dark theme */
    background-color: #191919;
    --text-bg-selected: #3b4252;
    --card-bg: #2e3440;
    --card-border: transparent;
    --card-box-shadow: #0f111540;
    --divider: #4c566a;
    --tag-fg: #d8dee9;
    --tag-bg: transparent;
    --tag-fg-active: #8fbcbb;
    --tag-bg-active: transparent;
    --tag-border: #4c566a;
    --tag-border-active: #8fbcbb;
    --cloze-fg: #CE8179;
    --cloze-bg: transparent;
    --link-fg: #81a1c1;
    --link-bg: transparent;
    --link-fg-active: #8fbcbb;
    --link-bg-active: #434c5e;
    --bold-fg: #8FB98C;
    --italic-fg: #D1C788;
    --bold-italic-fg: #869DB2;
    --underline-fg: #A6829F;	
      --text-dark-white: #d9d9d9;
  }
  
  html:not(.mobile) .card {
    padding: 0.5em;
  }
  
  .card::-webkit-scrollbar {
    display: none;
  }
  
  .inline-block{
      display: inline-block;
       position: relative;
      left: 50%;
    transform: translateX(-50%);
      max-width: var(--max-width);
      margin: 0 auto;
      padding: 9px;
      color: var(--text-dark-white);
  }
  
  .inline-block#front {
      font-size: calc(27px + var(--s));
      margin-top: 0px;
      line-height: 1.6;
  }
  
  .inline-block#back {
      border: 2px solid var(--card-bg);
      font-size: calc(20px + var(--s));
      line-height: 1.5;
  }
  
  .inline-block#example {
      font-size: calc(15px + var(--s));
      line-height: 1.5;
  }
  
  #image {
      font-size: calc(20px + var(--s));
      margin-top: 9px;
      padding: 0px;
      text-align: center;
  }
  
  #ueberschrift {
      font-family: times new roman;
      font-size: calc(15px + var(--s));
      padding: 0px;
      margin-bottom: 0px;
      border-radius: 0px;
      line-height: 110%;
      color: #7a869f;
      text-align: center;
  }
  
  hr#answer {
    height: 4px;
    background: var(--divider);
      border: 0;
      magin: 0;
  }
  
  hr#answer--fade {
    height: 4px;
    background: var(--divider);
      border: 0;
      magin: 0;
      margin-top: -5px;
  }
  
  .flashcard {
    background-color: var(--card-bg);
    border-radius: 1em;
    border: 1px solid var(--card-border);
    box-shadow: var(--card-box-shadow) 0px 5px 7px;
    color: var(--text-fg);
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    line-height: 1.2;
    margin: 0 auto;
    max-width: var(--card-max-width);
    text-align: var(--card-text-align);
    word-wrap: break-word;
  }
  
  .flashcard#fade-top {
    border-radius: 1em 1em 0em 0em;
      opacity: 0.5;
    box-shadow: var(--card-box-shadow) 0px 0px 0px;
  }
  
  .flashcard#fade-bottom {
    border-radius: 0em 0em 1em 1em;
  }
  
  .flashcard .hr{
      height: 4px;
    background: var(--divider);
      border: 0;
      magin: 0;
  }
  
  .flashcard ::selection {
    background-color: var(--text-bg-selected);
  }
  
  .field {
    margin: 2em;
  }
  
  .fade .field {
    margin: 2em;
  }
  
  .mobile .field {
    margin: 1em;
  }
  
  .mobile .fade .field {
    margin: 1em;
  }
  
  .field-back {
    font-size: var(--font-size-small);
  }
  
  .fade .field-back {
    font-size: var(--font-size-small);
      opacity: var(--opacity);
  }
  
  .field-front {
    font-size: var(--font-size-small);
  }
  
  .fade .field-front {
    font-size: var(--font-size-small);
      opacity: var(--opacity);
  }
  
  .divider {
    background-color: transparent;
    border: none;
    border-bottom: 1px dashed var(--divider);
    margin: 1em;
    padding: 0;
  }
  
  .divider-answer {
    border-bottom: 2px solid var(--divider);
  }
  
  
  /* OCCLUSION CSS START - don't edit this */
  #io-overlay {
    position:absolute;
    top:0;
    width:100%;
    z-index:3
  }
  
  #io-original {
    position:relative;
    top:0;
    width:100%;
    z-index:2;
    visibility: hidden;
  }
  
  #io-wrapper {
    position:relative;
    width: 100%;
  
  }
  /* OCCLUSION CSS END */
  
  /* OTHER STYLES */
  #io-header{
    font-size: 1.1em;
    margin-bottom: 0.2em;
  }
  
  .io-field-descr{
    margin-bottom: 0.2em;
    font-weight: bold;
    font-size: 1em;
  }
  
  #io-revl-btn {
    font-size: 0.5em;
  }
  
  /* ADJUSTMENTS FOR MOBILE DEVICES */
  
  .mobile .card, .mobile #content {
    font-size: 120%;
    margin: 0;
  }
  
  .mobile #io-extra-wrapper {
    width: 95%;
  }
  
  .mobile #io-revl-btn {
    font-size: 0.8em;
  }
  
  img {
      max-width: 80%;
      display: inline-block;
       position: relative;
      left: 50%;
    transform: translateX(-50%);
  }
  